        h2 {
            color: whitesmoke;
            font: oblique;
            font-style: italic;
        }
        
        input {
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            color: #5d5d5d;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 40px;
            padding-right: 40px;
            background-color: #ffffffd0;
            border-color: #3b2a2ad3;
            border-width: 8px;
            border-bottom: honeydew;
            border-radius: 18px;
        }
        
        body {
            background: grey;
        }
        
        h4 {
            color: whitesmoke;
            margin: 10px;
        }
        
        center {
            margin: 5px;
        }