
h2{
			color: #161816;
}






input{
				
				text-decoration:none; font-weight: 600; font-size: 20px; color:#5d5d5d; padding-top:15px; padding-bottom:15px; padding-left:40px; padding-right:40px; background-color:#c1c1c1; border-color: #dcdcdc; border-width: 3px; border-style: solid; border-radius:35px;
				
}